<%- include('partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body style="display: flex; flex-direction: column; align-items: center">
    <span
      class="badge"
      id="heading"
      style="
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-family: Helvetica neue;
        font-weight: bold;
        background-color: #a683e3;
      "
    >
      <h1 style="color: #fff; padding: 10px">Monday, July 31</h1>
    </span>
    <form class="row" action="/" method="post">
      <div style="display: flex">
        <input
          type="text"
          name="Task"
          class="form-control"
          placeholder="Enter Task"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-outline-secondary"
          type="submit"
          id="button-addon2"
        >
          add
        </button>
      </div>
    </form>
    <% if(locals.arr){ %>
    <ul>
      <% arr.map((e)=>{ %>

      <li><%= e %></li>

      <% }) }%>
    </ul>
  </body>
</html>

<%- include('partials/footer.ejs') %>
